<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="counter">{{text}}</h1>
    <script>
        var socket = new WebSocket('ws://localhost:8000/numbers');
        socket.onmessage = function(event){
            var data = JSON.parse(event.data);
            document.querySelector('#counter').innerHTML = data.num;
        }
    </script>
</body>
</html>